.header {
  background-color: var(--neutral-light);
  border-bottom: 2px solid var(--neutral-dark);
  color: black;
  padding: 1rem;
  text-align: center;
}

.title {
}
.profileIcon-container {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  padding: 10px;
}

.profileIcon img {
  width: 50px;
  border-radius: 100%;
  margin: 0 5px 0 5px;
}

.text-entry_container {
  bottom: 0px;
  position: absolute;
  height: 3rem;
  width: 100%;
  border-top: 2px solid var(--neutral-dark);
}

.text-entry_form {
  display: flex;
  width: 100%;
}
.main {
  background-color: whitesmoke;
}

.submit-button {
  background-color: var(--secondary);
  border-radius: 50px;
}
