.header__logo {
    margin: 0 auto;
    max-width: 6rem;
  }
  .profile-panel {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    margin-top: 0.5rem;
  }  
  .profile-panel__image img {
    border-radius: 100%;
    width: 8rem;
  }
  .profile-panel__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .join-button{
    margin-top: 6rem;
    font-size: 1.6rem;
    max-width: 60%;
    padding: 0.2em;
    background-color: var(--neutral-dark);
    color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 0.5em;
    cursor: pointer;
  }
    
  .join-button:hover {
    background-color: var(--neutral-light);
    color: var(--neutral-dark);
  }