.main-title {
  width: 100%;
  margin: 1rem;
  text-align: center;
  font-weight: 2900;
  color: var(--primary);
  text-shadow: 0px 0px 15px var(--yellow);
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: var(--yellow);
}

.header__logo {
  margin: 0 auto;
  max-width: 6rem;
}

.input-panel {
  padding: 1rem;
  border: 1px solid var(--neutral-dark);
  border-radius: 1em;
  margin-bottom: 2rem;
}

.field-label {
  margin: 0.2em;
  font-size: 1.2em;
}

.field-value {
  margin: 0.2em;
  background-color: #fff;
  min-width: 10em;
  min-height: 2em;
  overflow: hidden;
}

.input-panel__submit {
  max-width: 60%;
  margin: 0.5em auto;
  text-align: center;
  padding: 0.2em;
  background-color: var(--neutral-dark);
  color: var(--white);
  border: 1px solid var(--primary);
  border-radius: 0.5em;
  cursor: pointer;
}

.input-panel__submit:hover {
  background-color: var(--neutral-light);
  color: var(--neutral-dark);
}

.create-account-link {
  margin: 1rem;
  font-size: 1.5em;
  text-decoration: underline;
  color: var(--neutral-dark);
}
