/* Remove all inherent styling to begin from scratch. */
@import url("./base/clean-reset.css");
/* Define color palette. */
@import url("./base/color-palette.css");
/* Set standard global config for a few properties such as fonts, sizing, and overflow behavior. */
@import url("./base/config.css");
/* Style the base page layout that will be used across all pages. */
@import url("./base/layout.css");

/* ----- Geolocation Related -------------- */

/* LocationDisplay */

.location-display {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--white);
}

/* GoogleMapDisplay */

.map-display {
  height: 90vh;
  width: 100%;
}

/* MapMarker */

.marker {
  min-width: 5rem;
  min-height: 5rem;
  /* background-color: var(--neutral-dark); */
}

.marker__figure {
  width: 100%;
}

.marker__figure__img {
  border-radius: 50%;
  border: 3px solid var(--neutral-dark);
}

/* -------------------- COPIED CSS FROM PREVIOUS BRANCH BELOW -------------------- */

/* login page and create user profile*/

.create-account-link {
  margin: 1rem;
  font-size: 1.5em;
  text-decoration: underline;
  color: var(--neutral-dark);
}

.field-label {
  margin: 0.2em;
  font-size: 1.2em;
}

.field-value {
  margin: 0.2em;
  background-color: #fff;
  min-width: 10em;
  min-height: 2em;
  overflow: hidden;
}

.header {
  z-index: 1;
}

.header__logo {
  margin: 0 auto;
  max-width: 6rem;
}

.input-panel {
  padding: 1rem;
  border: 1px solid var(--neutral-dark);
  border-radius: 1em;
  margin-bottom: 2rem;
}

.join-button {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  margin: 0.5em auto;
  max-width: 60%;
  padding: 0.2em;
  background-color: var(--neutral-dark);
  color: var(--white);
  border: 1px solid var(--primary);
  border-radius: 0.5em;
  cursor: pointer;
}

.join-button:hover {
  background-color: var(--neutral-light);
  color: var(--neutral-dark);
}

.main-title {
  width: 100%;
  margin: 1rem;
  text-align: center;
  font-weight: 2900;
  color: var(--primary);
  text-shadow: 0px 0px 15px var(--secondary);
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: var(--secondary);
}

/* Grdian view*/

.profile-panel {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  margin-top: 0.5rem;
}
.profile-panel__image img {
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
}
.profile-panel__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.profile-panel__info-element {
  font-size: 1rem;
}

/* Send alert */

.alert-button__send {
  background: linear-gradient(
    135deg,
    var(--alert),
    var(--alert-dark),
    var(--alert-dark-2)
  );
  background-color: var(--alert);
  border: 2px solid var(--neutral-dark);
  border-radius: 2rem;
  color: white;
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.input-panel {
  margin-top: 2rem;
}
.emergency {
  font-weight: bold;
  color: var(--alert);
}
.high {
  font-weight: bold;
  color: var(--alert);
}
.moderate {
  font-weight: bold;
  color: var(--secondary);
}
.minor {
  font-weight: bold;
  color: var(--primary);
}

/* User Profile */

.alert-button__main {
  background: linear-gradient(
    135deg,
    var(--secondary),
    var(--secondary-alt-1),
    var(--secondary-alt-2)
  );
  background-color: var(--alert);
  border: 2px solid var(--neutral-dark);
  border-radius: 2rem;
  color: var(--primary);
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;
}

.alert-button__my-alert {
  background: linear-gradient(
    135deg,
    var(--alert),
    var(--alert-dark),
    var(--alert-dark-2)
  );
  background-color: var(--alert);
  border: 2px solid var(--neutral-dark);
  border-radius: 2rem;
  color: white;
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;
}

.container-convo {
  padding: 1rem;
  border: 1px solid var(--neutral-dark);
  border-radius: 1em;
  background: linear-gradient(
    135deg,
    var(--primary-light),
    var(--neutral-light),
    var(--secondary-light-1)
  );
  margin: 2rem 0;
  width: 20rem;
}
.convo {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: 0.5px solid var(--neutral-dark);
  border-radius: 1em;
  margin: 0.1rem 0;
  padding: 0.5rem;
}
.container-grdians {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  width: 20rem;
}

.profile-grdians {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
.profile-grdians__image img {
  border-radius: 100%;
  min-width: 6rem;
}
.title {
  font-weight: bold;
  text-align: left;
  width: 100%;
}

/* All grdians */

.portrait-caption {
  font-size: 0.9em;
  text-align: center;
}

.profile-grdians__all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.3rem;
}

.profile-grdians__all-image img {
  border-radius: 100%;
  min-width: 6rem;
}

/* Single grdian */

.profile-panel__single {
  align-items: center;
  display: grid;
  grid-template-rows: 2;
  margin-top: 3rem;
}

.profile-panel__single-image img {
  border-radius: 100%;
  min-width: 18rem;
  height: 18rem;
}

.profile-panel__single-info {
  align-content: center;
}

.profile-panel__single-info-element {
  font-size: 2.5rem;
}

/* Active Alert */

.sender__name {
  margin-bottom: 1rem;
}

.alert-button__resolve {
  background: linear-gradient(
    135deg,
    var(--primary-light),
    var(--primary),
    var(--primary-dark)
  );
  border: 2px solid var(--neutral-dark);
  border-radius: 2rem;
  color: var(--secondary);
  font-size: 0.9rem;
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;
}

.convo__active {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: 0.5px solid var(--neutral-dark);
  border-radius: 1rem;
  font-size: 1.5rem;
  margin: 2.5rem 0 0.5rem;
  padding: 0.5rem;
  width: 21rem;
}

/* Nav bar menu */

.menu-container {
  align-items: right;
  background-color: var(--neutral-dark);
  border-radius: 1rem;
  display: none;
  height: 11rem;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 2.4rem;
  width: 15rem;
  z-index: 3;
}

.menu-link {
  color: var(--secondary-alt-1);
  cursor: pointer;
  display: block;
  font-size: 2rem;
  margin: 0.5rem auto;
  opacity: 1;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}
.menu-link :hover {
  color: var(--secondary);
  transform: scale(1.1);
}
.menu-container :hover {
  background-color: var(--primary);
}
.menu-container.opened {
  display: block;
}
.burger {
  background-color: var(--white);
  border: 1px solid var(--primary);
  border-radius: 5px;
  cursor: pointer;
  display: block;
  height: 30px;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 30px;
  z-index: 2;
}
.burger__lines {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.burger__lines-single {
  width: 15px;
  height: 1px;
  display: block;
  background-color: var(--neutral-dark);
  margin: 3px auto;
  transition: all 0.3s ease-in-out;
}
.burger.is-active .burger__lines-single:nth-child(2) {
  opacity: 0;
}
.burger.is-active .burger__lines-single:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}
.burger.is-active .burger__lines-single:nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}
