/* PRIMARY CONTENT SKELETON */
/* The below is for layout and styling of the main content areas, but not the specific content itself. 
Main content areas include the page-wrapper, header/nav, main, and footer. */

.wrapper {
  /* Never allow the wrapper to grow larger than the viewport */
  max-width: 100vw;
  /* Force wrapper to take up at least as much vertical space as the viewport height*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: -999;
}

.header {
  width: 100%;
}

.main {
  flex-grow: 1;
  width: var(--main-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--black);
  background-color: var(--neutral-light);
  /* background-color: #000; */
  /* background-color: var(--neutral-dark); */
}

.footer {
  width: 100%;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
  color: var(--neutral);
  background-color: var(--primary);
  box-shadow: 0rem 0rem 1rem 0.2rem var(--black);
}
